/* app css stylesheet */
/* nav active color #0084B4 */
/* 全局 */
body{
  padding-top: 50px;
/*	background-color:#C0DEED;*/
}

/*     内容外层修饰 */
.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*    卡片风格*/
.card{
	background-color: white;
	border: 1px solid #e1e8ed;
    padding: 10px;
    border-radius: 6px;
}
/*      html转义样式*/
.asHtml {
    line-height: 200%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* 导航条 */
#header{
    font-family: "黑体";
/*设置高度会导致折叠的菜单背景色变透明*/
/*    height: 50px;*/
    background-color: white;
    border-bottom: 1px solid #ebebeb;
    box-shadow:0 0 3px 0px #888;
}
    /*网站标志*/
.navbar-brand{
    padding:0px;
}
.navbar-brand a {
    color: #0084B4;
    display: block;
    height: 50px;
    padding: 0px 15px;
}
.navbar-brand a span{
    vertical-align: middle;
}
.navbar-brand a:hover{
    text-decoration: none;
    border-bottom: 4px #0084B4  solid;
}


/* 左侧二级导航/panel ..subnav   */
.panel.panel-default{
/*    border: none;*/
}
.left-nav .panel-heading {
    border: none;
    background-color: white;
    padding: 10px;
    font-size: 16px;    
}
.left-nav .list-group-item {
    padding: 6px 15px;
    border: none;
    border-left: 3px solid white !important;
    font-size: 12px;
    font-weight:600;
}
.left-nav a.list-group-item.active,.left-nav a.list-group-item:hover{
    background-color: white;
    color: #0084B4;
    border-left: 3px solid #0084B4 !important;
}
.left-nav a.list-group-item.active>.badge,.left-nav a.list-group-item:hover>.badge{
    color: white;
    background-color:  #0084B4;
}

/*   导航/navigation */
#header .nav a{    
    font-size: 18px;
    color: #66757F;
}
#header .nav a:hover{
    color: #0084B4;
    height: 50px;
    border-bottom: 4px #0084B4  solid;
}
#header .active>a{
    background-color: white;
    color: #0084B4;
    height: 50px;
    border-bottom: 4px #0084B4  solid;
}

/* 主页/home */
#home {
/*    margin-top: 40px;*/
    color: steelblue;
}
#home .quote{
    font-family: "Times New Roman",Times,serif;
    font-size: 24px;
    font-style: italic;
    color: steelblue;
    text-align: center;
    margin: 20px 0px;
}

/* 关于我们 */
#about-content .panel-heading{
    background-color: white;
}
#about-content .panel-body:before{
    content: none;
}

/*  扩展知识列表/knowledge list*/
#klgList_content .panel-heading{
    background-color: white;
}
#klgList_content li.list-group-item>span{
    display: inline-block;
    width: 20px;
}

/* 专题/details */
a.disabled {
  text-decoration: none;
  color: #828282;
}
a.disabled:hover {
  text-decoration: none;
  color: #828282;
}

#search .panel-body {
    min-height: 300px;
}
