/* app css stylesheet */

/* 全局 */
body{
	background-color:#C0DEED;    
/*    background-color:#ededed;*/
}

/*     内容外层修饰 */
.wrapper {
    padding-top: 50px;
}
/*    卡片风格*/
.card{
	background-color: white;
	border: 1px solid #e1e8ed;
    padding: 10px;
    border-radius: 6px;
}
/*      html转义样式*/
.asHtml {
    line-height: 200%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* 导航条 */
#header{
    font-family: "黑体";
/*设置高度会导致折叠的菜单背景色变透明*/
/*    height: 50px;*/
    background-color: white;
    border-bottom: 1px solid #ebebeb;
    box-shadow:0 0 3px 0px #888;
}
    /*网站标志*/
.navbar-brand{
    padding:0px;
}
.navbar-brand a {
    color: #0084B4;
    display: block;
    height: 50px;
    padding: 0px 15px;
}
.navbar-brand a span{
    vertical-align: middle;
}
.navbar-brand a:hover{
    text-decoration: none;
    border-bottom: 4px #0084B4  solid;
}
    /*导航项目*/
#header .nav a{    
    font-size: 18px;
    color: #66757F;
}
#header .nav a:hover{
    color: #0084B4;
    height: 50px;
    border-bottom: 4px #0084B4  solid;
}
#header .active>a{
    background-color: white;
    color: #0084B4;
    height: 50px;
    border-bottom: 4px #0084B4  solid;
}

/* 主页 */
#home {
/*    margin-top: 40px;*/
    color: steelblue;
}
#home .quote{
    font-family: "Times New Roman",Times,serif;
    font-size: 24px;
    font-style: italic;
    color: steelblue;
    text-align: center;
    margin: 20px 0px;
}

/* 关于我们 */
#about,#knowledgeList,#knowledgeDetails {
    padding-top: 20px;
    padding-bottom: 20px;
}
/*     内容缩进 */
#about .card div>div {
    padding: 0px 30px;
}
.pagination {
/*    position: fixed;*/
/*    bottom: 10px;*/
}
