/* app css stylesheet */
/* nav active color #0084B4 */
/* 全局 */
*{
    border-radius: 0px !important;
}
body{
  padding-top: 50px;
/*	background-color:#C0DEED;*/
}

/*     内容外层修饰 */
.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*      html转义样式*/
.asHtml {
    line-height: 200%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* 导航条 */
#header{
    font-family: "黑体";
/*设置高度会导致折叠的菜单背景色变透明*/
/*    height: 50px;*/
    background-color: white;
    border-bottom: 1px solid #ebebeb;
    box-shadow:0 0 3px 0px #888;
}
    /*网站标志*/
.navbar-brand{
    padding:0px;
}
.navbar-brand a {
    color: #0084B4;
    display: block;
    height: 50px;
    padding: 0px 15px;
}
.navbar-brand a span{
    vertical-align: middle;
}
.navbar-brand a:hover{
    text-decoration: none;
    border-bottom: 4px #0084B4  solid;
}


/* 左侧二级导航/panel ..subnav   */
.panel{
/*    border-radius: none;*/
}
.panel.panel-default{
/*    border: none;*/
/*    border-radius:none;*/
}
.left-nav .panel-heading {
    border: none;
    background-color: white;
    padding: 10px;
    font-size: 16px;    
}
.left-nav .panel .list-group a.list-group-item {
    padding: 6px 15px;
    border: none;
    border-left: 3px solid white;
    font-size: 12px;
/*    font-weight:600;*/
}
.left-nav .panel .list-group  a.list-group-item.active,.left-nav .panel .list-group a.list-group-item:hover{
    background-color: white;
    color: #0084B4;
    border-left-color:#0084B4;
}
.left-nav .panel .list-group  a.list-group-item.active>.badge,.left-nav a.list-group-item:hover>.badge{
    color: white;
    background-color:  #0084B4;
}

/*   导航/navigation */
#header .nav a{    
    font-size: 18px;
    color: #66757F;
}
#header .nav a:hover{
    color: #0084B4;
    height: 50px;
    border-bottom: 4px #0084B4  solid;
}
#header .active>a{
    background-color: white;
    color: #0084B4;
    height: 50px;
    border-bottom: 4px #0084B4  solid;
}

/* 主页/home */
#home {
/*    margin-top: 40px;*/
    color: steelblue;
}
#home .quote{
    font-family: "Times New Roman",Times,serif;
    font-size: 24px;
    font-style: italic;
    color: steelblue;
    text-align: center;
    margin: 20px 0px;
}

/* 关于我们 */
#about-content .panel-heading{
    background-color: white;
}
#about-content .panel-body:before{
    content: none;
}

/*  扩展知识列表/knowledge list*/
#klgList_content .panel-heading{
    background-color: white;
}
#klgList_content li.list-group-item>span{
    display: inline-block;
    width: 20px;
}

/* 专题/details */
a.disabled {
  text-decoration: none;
  color: #828282;
}
a.disabled:hover {
  text-decoration: none;
  color: #828282;
}

#search .panel-body {
    min-height: 300px;
}

/*     系统分类/system.html*/
#system {
    font-size:12px !important;
}
#system .panel{
    min-height: 600px;
/*    padding-bottom: 20px;*/
}
#system_tree a.panel-heading{
/*    border-left: 3px solid #ededed;*/
    font-size: 14px;
    display: block;
    text-decoration: none;
/*    color: black;*/
    border-bottom: 3px solid #ededed;
    padding: 10px ;
}
#system_tree a.panel-heading:hover{
    color: white;
    background-color: #0084B4;
}
#system_tree .list-group{
    
}
#system_tree .list-group-item{
/*    background-color: #ededed;*/
/*    border-left-color: #ededed;*/
}
#system_tree a.list-group-item:hover{
/*    border-left-color: #0084B4;*/
}
#system_content .panel-heading{
    background-color: white;
}
#system_content .thumbnail{
/*    border: none;*/
/*    padding: 5px;*/
/*    margin: 5px;*/
}
.thumbnail a{
    text-decoration: none;
    color: black;
}
.thumbnail p{
    line-height: 25px;
/*    width: 100%;*/
/*    color: white;*/
/*    background-color: rgba(0,0,0,0.5);*/
    margin:0px;
/*    padding: 0px;*/
/*    position: absolute;*/
/*    bottom:0px;*/
}

p {
    text-indent:2em;
}
