<div class="row">
    <div class="col-xs-12 col-md-2 well">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{active:about.id==1}"><a href="#/about/1">关于</a></li>
            <li ng-class="{active:about.id==2}"><a href="#/about/2">联系</a></li>
            <li ng-class="{active:about.id==3}"><a href="#/about/3">版权声明</a></li>
            <li ng-class="{active:about.id==4}"><a href="#/about/4">我要传图</a></li>
            <li ng-class="{active:about.id==5}"><a href="#/about/5">更新日志</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-10">

        <div ng-if="about.id==1||about.id==2||about.id==3||about.id==4">
            <h1>{{about.title}}</h1>
            <hr>
            <div>
                <pre>{{about.content}}</pre>
            </div>
        </div>

        <div ng-if="about.id==5">
            <div class="panel panel-default" ng-repeat="log in sblog">
                <div class="panel-heading">
                    {{log.title}}
                </div>
                <div class="panel-body">
                    <pre>{{log.content}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>