<div id="home">
<!--
    <div class="row">
        <div class="col-md-4 col-xs-12" ng-repeat="plant in home.divisions">
             three plant division entrance
                <a href="#/category/{{plant.id}}" class="card">
                    <div class="division" style="">
                        <h4>{{plant.title}}</h4>
                        <h6>{{plant.content}}</h6>
                    </div>
                </a>
        </div>
    </div>
-->
    <div class="row">
        <!--quote-->
        <div class="col-md-12">
           <div class="card quote">
            I believe a leaf of grass is no less than the journey work of the stars.     ——Walt Whitman               
           </div>
        </div>
    </div>

<!--    <div class="row">
        <div class="col-md-3 col-xs-12" ng-repeat="plant in home.sections">
             four section entrance
            <a href="{{plant.href}}" class="card">
               <div class="section">
                    <img ng-src="upload/{{plant.img}}"/>
                    <h4>{{plant.title}}</h4>                   
               </div>
            </a>
        </div>
    </div>-->

   <div>
       <img class="img-responsive" src="upload/1.jpg" />
   </div>
    <!-- <img src="upload/shangxian.jpg" alt="ShangXianBackground"/>
    -->
</div>