<section id="home" class="wrapper">
    <!--quote-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class=" quote">
                    <q>I believe a leaf of grass is no less than the journey work of the stars.</q>
                    ——Walt Whitman
                </header>
            </div>
        </div>
    </div>
    <figure id="homePost">
        <img class="img-responsive" src="upload/1.jpg" alt="厦大植物网海报" />
    </figure>
</section>