<!--{{klgList}}-->
<h1>扩展知识</h1>
<hr>
<div class="row">

    <div class="list-group col-xs-12 col-md-2">
        <a class="list-group-item disabled"><strong>栏目分类</strong></a>
        <a class="list-group-item" ng-repeat="item in klgList.category">
            <span class="badge">{{item.count}}</span>
            {{item.name}}
        </a>
    </div>

    <div class="col-xs-12 col-md-10">
        <table class="table">
            <tr ng-repeat="item in klgList.articles">
                <td>{{$index+1}}</td>
                <td>
                    <span>【{{item.category}}】</span>
                    <a href="#/knowledge/details/{{item.id}}">{{item.title}}</a>
                </td>
            </tr>
        </table>

        <ul class="pagination">
            <li class="disabled active"><a href="#">&laquo;</a></li>
            <li ng-repeat="page in klgList.pages">
                <a href="#/knowledge/list/{{page}}">{{page}}</a>
            </li>
            <li class="disabled"><a href="#">&raquo;</a></li>
        </ul>
    </div>

</div>