<article id="knowledgeDetails" class="row wrapper">
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <header>
                    <button onclick="window.history.back();" class="btn btn-info pull-right">返回目录</button>
                    <h2>
                    <span ng-bind="klgDetails.title"></span>
                    <small>
                        / 
                        <span ng-bind="klgDetails.category"></span> 
                        / 
                        <span ng-bind="klgDetails.date"></span>
                    </small>
                    </h2>
                </header>
                <hr>
                <section ng-bind-html="klgDetails.content | htmlTrust"></section>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-2"></div>
</article>