<!--{{mapp}}-->
<div class="row wrapper">
    <div id="map" class="col-xs-12 col-md-8" style="height:500px;">

    </div>
    <div class="col-xs-12 col-md-4">
        <p><strong>中文名：</strong>{{species.name_cn}}</p>

        <p><strong>拉丁名：</strong>{{species.name_en}}</p>

        <p><strong>别名：</strong>{{species.name_ot}}</p>

        <p><strong>门：</strong>{{species.division}}</p>

        <p><strong>科：</strong>{{species.family}}</p>

        <p><strong>属：</strong>{{species.genus}}</p>

        <p><strong>校园分布：</strong>{{species.distribution}}</p>

        <p><strong>经度：</strong>{{species.longitude}}</p>

        <p><strong>纬度</strong>{{species.latitude}}</p>

        <h4><a href="#/speciesDetails/{{species.id}}">详细信息</a></h4>

    </div>
</div>