<div class="row wrapper">
    <div class="page-header">
        <h3>{{species.name_cn}}{{species.name_ot?"("+species.name_ot+")":""}}<small>{{species.name_en}}</small></h3>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="list-group">
            <div class="list-group-item">
                <h4 class="list-group-item-heading">系统分类</h4>
                <div class="list-group-item-text">
                    <p>门：{{species.division}}</p>
                    <p>科：{{species.family}}</p>
                    <p>属：{{species.genus}}</p>
                </div>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">校园分布</h4>
                <div class="list-group-item-text">
                    <p>{{species.distribution}}</p>
                    <p><i>经度：{{species.longitude}}</i></p>
                    <p><i>纬度：{{species.latitude}}</i></p>
                </div>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">形态特征</h4>
                <div class="list-group-item-text">
                    <p>{{species.morphology}}</p>
                </div>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">产地</h4>
                <div class="list-group-item-text">
                    <p>{{species.origin}}</p>
                </div>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">习性</h4>
                <div class="list-group-item-text">
                    <p>{{species.habis}}</p>
                </div>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">栽培要点</h4>
                <div class="list-group-item-text">
                    <p>{{species.cultivation}}</p>
                </div>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">用途</h4>
                <div class="list-group-item-text">
                    <p>{{species.application}}</p>
                </div>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">文化历史</h4>
                <div class="list-group-item-text">
                    <p>{{species.history}}</p>
                </div>
            </div>
            <div class="list-group-item">
                <h4 class="list-group-item-heading">图片展示</h4>
                <div class="list-group-item-text">
                    <div ng-repeat="src in species.imgSrc">
                        <!--       <img ng-show="src" src="{{'http://xmuplant-upload.stor.sinaapp.com/' +src}}"> -->
                        <img class="img-responsive img-rounded" ng-show="src" src="{{'http://xmuplant.qiniudn.com/' +src}}">
                        <p class="caption"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="" id="map" style="height:300px;"></div>

        <div ng-repeat="src in species.imgSrc">
            <!--       <img ng-show="src" src="{{'http://xmuplant-upload.stor.sinaapp.com/' +src}}"> -->
            <img class="img-responsive" ng-show="src" src="{{'http://xmuplant.qiniudn.com/' +src}}">
        </div>
    </div>
</div>