<div class="row wrapper">
  <div class="col-md-2 col-xs-12">
      <h2>{{topicDetails.title}}</h2>
      <p>{{topicDetails.d}}</p>
  </div>

  <div class="col-md-10 col-xs-12">
      <div class="thumbnail col-md-3 col-xs-12" ng-repeat="species in topicDetails.s">

          <a ng-show="species.id" href="#/speciesDetails/{{species.id}}">
<!--               <img src="{{'http://xmuplant-upload.stor.sinaapp.com/'+species.img_name}}"/> -->
              <img src="{{species.img_name ? 'http://xmuplant.qiniudn.com/'+species.img_name : 'upload/default.jpg'}}"/>
              <h4>{{species.name_cn}}</h4>
          </a>
          <a ng-hide="species.id" class="disabled">
              <img src="upload/default.jpg"/>
              <h4>{{species.name_cn}} （{{species.name_en}}）</h4>
          </a>
      </div>
  </div>

</div>