<div class="row wrapper">
  <div class="col-md-2 col-xs-12">
      <h2>{{topicDetails.title}}</h2>
      <p>{{topicDetails.d}}</p>
  </div>

  <div class="col-md-10 col-xs-12">
      <div class="col-md-3 col-xs-12" ng-repeat="species in topicDetails.s">

          <a ng-if="species.id" class="thumbnail" href="#/species/details/{{species.id}}">
<!--               <img src="{{'http://xmuplant-upload.stor.sinaapp.com/'+species.img_name}}"/> -->
              <img  class="lazyload" data-src="{{species.img_name ? 'http://xmuplant.qiniudn.com/'+species.img_name : 'upload/default.jpg'}}"/>
              <div class="caption">
                <h4>{{species.name_cn}}</h4>
              </div>
          </a>
          <a ng-if="!species.id" class="thumbnail disabled">
              <img  class="lazyload" data-src="upload/default.jpg"/>
              <div class="caption">
                <h4>{{species.name_cn}} （{{species.name_en}}）</h4>
              </div>
          </a>
      </div>
  </div>

</div>